# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
TestAPI/TestAPI.csproj.user

# MacOS
.DS_Store

# Node/Vite (si tienes un frontend en ClientApp)
ClientApp/node_modules/
ClientApp/dist/
ClientApp/.env.local
ClientApp/.env.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# IDEs
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node
node_modules
dist
dist-ssr
*.local
